:root {
    --h-text-color: hsl(210, 10%, 33%);
    --p-text-color: hsl(201, 11%, 66%);
    --b-text-color: hsl(0, 0%, 100%);
    --button-ios-color: hsl(171, 66%, 44%);
    --button-mac-color: hsl(233, 100%, 69%);
    --font-button: 'Coco Gothic', sans-serif;
    --font-body: 'Josefin Sans';
}

@font-face {
    font-family:'Anaktoria';
    src: url('fonts/anaktoria-cdnfonts/Anaktoria.ttf');
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
 
    font-family: var(--font-body);
    font-size: 1.2rem;
    font-weight: 400;

    background-color: #FAF9F6;
}

body h1 {
    font-family: 'Anaktoria';
    font-size: 3rem;
}

body h2 {
    font-family:'Cardo';
    font-size: 2rem;
    margin-bottom: 2rem;
}

body h3{
    font-family: 'Coco Gothic';
    font-size: 2rem;
    color: #A2A08B;
    font-weight: bold;
}

body a {
    text-decoration: none;
    color:#1E1E1E;
}


/** General adjustments - margin, display, alignment **/
main  {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FAF9F6;

    text-align: center;

    margin-bottom: 2rem;
    margin-top: 2rem;
}

main img {
    width: 100%;
    filter: invert(34%) sepia(0%) saturate(4464%) hue-rotate(333deg) brightness(111%) contrast(96%);
}


/** SECTION-01 - Terapia **/
.section-01 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 10% 0 10%;

  width: fit-content;
  block-size: fit-content;

  background-color: #D6D4C7;
}

.section-01 .terapia {
  margin: 4rem;
  line-height: 1.5rem;
}

.section-01 .terapia h2, p{
  margin-bottom: 2rem;
}

#citacao {
    font-style: italic;
}

/** SECTION-02 - Menu**/
.section-02 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0 10% 0 10%;

    background-color: #FAF9F6
}

.section-02 .menu{
    width: 25%;
    flex-direction: column;

    font-weight: bold;
}

.menu .button {
    margin: 2rem;
    padding: 1.5rem;
    background-color: #A2A08B;
    border-radius: 5rem;
    text-align: center;
}

.tinta {
    width: 50%;
    padding-left: 10rem;
}


/** SECTION-03 - Sobre mim**/
.section-03 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0 10% 0 10%;

    background-color: #C9BDC9;
}


.hemanuela {
    padding: 7rem;
}



/** FOOTER  **/
footer {
    display: flex;
    height: 8rem;
    background-color: #FAF9F6;
    width: 100%;

    justify-content: center;
    align-items: center;
}

footer img {
    margin: 2rem;
    height: 3.5rem;
    filter: invert(34%) sepia(0%) saturate(4464%) hue-rotate(333deg) brightness(111%) contrast(96%);
}


footer img:hover {
    filter: invert(78%) sepia(9%) saturate(240%) hue-rotate(251deg) brightness(100%) contrast(87%);
}



/** MEDIA - ADJUSMENTS **/
@media only screen and (max-width:850px) and (min-width:375px){

body {
    font-size: 1rem;
}


body h1 {
    font-size: 2rem;
}

body h2 {
    font-size: 1.5rem;
}

.section-01 {
    flex-direction: column;
    padding: 0 10% 0 10%;
    background: url('images/eucalipto.png');
    background-size: 30%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #D6D4C7;
}


.section-01 .terapia {
    margin: 1rem;
    line-height: 1.2rem;
    margin-top: 4rem;
}

.eucalipto {
    display: none;
}

.section-02 {
    flex-direction: column;
    padding: 2rem;

    background-image: url('images/tinta.png');
    background-size: 60%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.section-02 .menu {
    width: auto;
}

.tinta img {
    display: none;
}

.menu .button {
    width: 10rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.section-03 {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;

    background-image: url('images/sombras.png');
    background-size: 70%;
    background-position: bottom center;
    background-repeat: no-repeat;
}


.section-03 .hemanuela {
    padding: 0rem;
}

.section-03 .sombras {
    display: none;
}

footer img {
    margin: 1rem;
    height: 2rem;
    filter: invert(34%) sepia(0%) saturate(4464%) hue-rotate(333deg) brightness(111%) contrast(96%);
}



/** MEDIA - ADJUSMENTS **/
@media only screen and (max-width:1200px) and (min-width: 851px) {
body {
    font-size: 1rem;
}


body h1 {
    font-size: 2rem;
}

body h2 {
    font-size: 1.5rem;
}

.section-01 .terapia {
    margin: 1rem;
    line-height: 1.2rem;
}
}


/**BOTÃO - VOLTAR AO TOPO **/
#btn-back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;

    background-image: url('images/arrow-circle-up.svg');
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}