:root {
    --h-text-color: hsl(210, 10%, 33%);
    --p-text-color: hsl(201, 11%, 66%);
    --b-text-color: hsl(0, 0%, 100%);
    --button-ios-color: hsl(171, 66%, 44%);
    --button-mac-color: hsl(233, 100%, 69%);
    --font-bj: 'Raleway' ;
    --font-h1: 'Raleway';
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: var(--font-bj);
    font-size: 1.2rem;
    font-weight: 600;

    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

body h1 {
    font-family: var(--font-h1);
    font-size: 200;
}

body a {
    text-decoration: none;
    color:hsl(210, 10%, 33%);
}


/** General adjustments - margin, display, alignment **/
.container {
    text-align: center;
    margin: 6rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main, .section-01, .section-03, .section-05, .section-08  {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section-02, .section-06, .section-07 {
    width: 74rem ;
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
}



/** General adjustments - font, color, button**/
.container h1 {
    font-weight: 600;
    color: var(--h-text-color);
}

.container h2, h3 {
    font-weight: bold;
    color: var(--h-text-color);
}

.container h3 :hover {
    filter: invert(32%) sepia(90%) saturate(521%) hue-rotate(149deg) brightness(50%) contrast(89%);
}


.container p, footer {
    color: var(--p-text-color);
    line-height: 1.8rem;
    font-weight: 400;
}

.container p {
    margin-top: 0.7rem;
    margin-bottom: 1.8rem;
}

/** BUTONS **/
button {
    width: 13.8rem ;
    height: 3rem;
    border-radius: 1.4rem;
    color: var(--b-text-color);
    font-family: var(--font-bj);
    font-weight: 700;
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.ios {
    background-color: var(--button-ios-color);
}

.ios:hover {
    background-color: hsla(171, 66%, 44%, 0.651);
}

.mac {
    background-color: var(--button-mac-color);
}

.mac:hover {
    background-color: hsla(233, 100%, 69%, 0.658);
}


/** HEADER - LOGO **/
header img {
    width: 6.25rem;
    height: 6.25rem;
}


/** SECTION-02 **/
.section-02 img {
    margin-left: -14rem;
    margin-right: 8rem;
}

.section-02 #column-02 {
    margin: 4rem 4rem 6rem 2rem;
    text-align: left; 
}

.section-02 .p3 {
    margin-bottom: 4rem;
}

/** SECTION-06 **/
.section-06 {
    margin: 0 8rem ;
}

.section-06 div {
    width: 32rem;
    height: 22rem;
    margin: 1rem;
}

.section-06 figure img{
    height: 5rem;
}

.section-06 h3 {
    padding: 1.5rem;
}

/** SECTION-07 **/
.section-07 {
    justify-content: space-between;
    margin: 4rem 6rem;
}

.section-08 {
    height: 15.6rem;
}


/** FOOTER  **/
footer {
    display: flex;
    height: 8.7rem;
    background-color: hsla(202, 11%, 66%, 0.315);
    width: 100%;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

footer .social-footer img {
    margin: 2rem;
}

/**
.logo-footer {
    transform: scale(0.5);
    margin-left: -4rem;
    cursor: pointer;
}

.list-footer ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 206px);
}

footer li:hover {
    filter: invert(58%) sepia(77%) saturate(272%) hue-rotate(132deg) brightness(94%) contrast(91%);
}

.list-footer a {
    text-decoration: none;
    color: var(--h-text-color);
}

.list-footer {
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 2.5rem;
}
**/

.social-footer img {
    filter: invert(83%) sepia(5%) saturate(547%) hue-rotate(157deg) brightness(50%) contrast(90%);
}

.social-footer img:hover {
    filter: invert(32%) sepia(90%) saturate(521%) hue-rotate(149deg) brightness(87%) contrast(89%);
}



/** MEDIA - ADJUSMENTS **/
@media only screen and (max-width:850px) and (min-width:375px){
    body {
        background-image: url('images/bg-header-mobile.png');
        background-position: top;
    }

    main, .section-01, .section-02, .section-03, .section-04, .section-05, .section-06, .section-07, .section-08 {
        width: 22rem;
        margin: 2rem;
    }

    .section-02 img, .section-04 img {
        width: 23rem;
        transform: scale(0.8);
        margin: 0;
    }

    .section-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #column-01, .section-04{
        display: flex;
        height: 9.3rem;
        justify-content: center;
        align-items: center;
    }

    .section-02 #column-02 {
        height: 25rem;
        text-align: center;
        margin: 4rem 0;
    }


    .section-07, .section-06{
        display: flex;
        flex-direction: column;
        height: 37.5rem ;
        align-items: center;
        margin-bottom: 6rem;
    }

    .section-08 {
        height: 27.5rem
    }

    
    footer {
        display: flex;
        height: 10rem;
        width: 100%;
    }

    .social-footer {
        display: block;
    }

    .social-footer img {
        padding: 1rem;
    }
}

/** MEDIA - ADJUSMENTS **/
@media only screen and (max-width:1200px) and (min-width: 851px) {

    .section-06, .section-07 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-07 img {
        padding: 1rem;
    }

    .section-02 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .section-02 #column-02 {
        text-align: center;
    }

    .section-02 img {
        margin: auto;
    }

    
    main, .section-01, .section-03, .section-05, .section-08  {
        margin: 0 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 5rem;
        margin-top: 2rem;
    }

    footer {
        display: flex;
        height: 10rem;
        background-color: hsla(202, 11%, 66%, 0.315);
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
    }
}